body {
	font-family: arial;
	font-size: 12px;
	background-color: #eee;
	padding-top: 55px;
}

#loggedout {
	font-size: 20px;
	padding-top: 30px;
}

	#loggedout p {
		font-family: 'Architects Daughter', cursive;
		font-size: 1.2em;
		margin-bottom: 1em;
		font-variant: small-caps;
	}

#loggedin {
	display: none;
}

#header {
	padding: 4px;
	border-bottom: 1px solid #000;
	background: #eee;
}

#controlpanel {
	padding: 1em 1em 0;
	background-color: #eee;
}

	#controlpanel h2 {
		color: #333;
	}

#output {
	overflow: auto;
}

.category {
	color: #999;
}

a:hover {
	text-decoration: none;
}

.toggler {
	cursor: pointer;
}

	.toggler .js-off {
		display: inline-block;
	}

	.toggler .js-on {
		display: none;
	}

	.toggler.active .js-off {
		display: none;
	}

	.toggler.active .js-on {
		display: inline-block;
	}

.toggler-nav .js-off {
	color: darkgray;
}

.toggler-board {
	color: rgba(255,255,255,.5);
	font-size: 1.4em;
	position: absolute;
	right: 2.8em;
	top: .5em;
	z-index: 10;
}

	.toggler-nav span {
		float: right;
		font-size: 1.5em;
		padding-top: .4em;
	}

	.navmenu-toggler li {
		height: 4.6em;
		overflow: hidden;
	}


.navmenu h4 {
	line-height: 2.5em;
	display: inline;
}

.toggler-nav .boardcolor {
	background-color: rgb(0, 121, 191);
	margin-right: .5em;
	padding: 0 .6em;
	border-radius: .3em;
	display: inline;
}

.handle {
	color: rgba(255,255,255,.5);
	font-size: 1.4em;
	cursor: move;
	position: absolute;
	right: 1em;
	top: .5em;
	z-index: 10;
}

.listBoard .handle {
	font-size: 1.2em;
}

.card {
	margin-bottom: .8em;
}

	.card a {
		display: block;
		padding: 1em;
		background-color: #fff;
		border-bottom: 1px solid #ccc;
		border-radius: .4em;
		cursor: pointer;
		min-height: 2em;
		position: relative;
		z-index: 0;
	}

.card-border {
	padding: .4em;
	border-radius: .6em;
}

.boardDisplay {
	background-color: steelblue;
}

	.boardDisplay #output {
		overflow-y: hidden;
	}

.board {
	position: relative;
	border-bottom: 1px #333 solid;
	border-bottom: 1px rgba(0,0,0,.2) solid;
	border-top: 1px #aaa solid;
	border-top: 1px rgba(255,255,255,.2) solid;
}

.placeholder {
	height: 10em;
	background-color: rgba(255,255,255,.3);
	border: .2em dashed #666;
}

.column,
.listBoard .placeholder {
	width: 25em;
	padding: 0 1em 0;
	margin: 1em 0 0 1em;
	border-radius: 1em;
	background-color: rgba(255,255,255,.3);
	display: inline-block;
	vertical-align: top;
	position: relative;
}

h2 {
	color: #FFF;
	margin: .5em .4em .5em 0;
	font-size: 1.4em;
	font-weight: bold;
	display: inline-block;
}

h4, .h4 {
	font-size: 1.2em;
	margin: 0;
	font-weight: bold;
	color: #333;
}


.headerText {
	text-shadow: black 0 1px 3px;
}

.list {
	padding: 0 1em .5em;
	margin-bottom: 2em;
	border-radius: 1em;
	background-color: rgba(255,255,255,.3);
}

	.list h3 {
		font-size: 1.2em;
		margin: 0;
		font-weight: bold;
		padding: .8em 0;
		color: #eee;
		text-shadow: black 0 1px 3px;
	}


@media (min-width: 768px) {
	.navbar-right {
		margin-right: 0;
	}

	.navbar-form {
		padding-top: 10px;
		padding-bottom: 10px;
	}

		.navbar-form .form-group {
			display: block;
		}

		.navbar-form .input-group {
			display: table;
			width: 100%;
		}

		.navbar-form .form-control {
			display: table-cell;
		}

		.navbar-form .input-group .input-group-addon, .navbar-form .input-group .input-group-btn, .navbar-form .input-group .form-control {
			width: 100%;
		}

		.navbar-form .input-group .input-group-addon {
			width: 2em;
		}
	/* display: inline-block; */
	/*#approvedListNames {
		width: 45em;
	}*/


}

@media (max-width: 768px) {
	.column {
		width: auto;
		display: block;
		margin: 1em 1em 0;
		padding: .2em 1em;
	}
}

.navmenu-fixed-left li,
.navmenu-fixed-right li {
	padding: .8em 1em;
	line-height: 3em;
	border-bottom: 1px #cccccc solid;
}

.navmenu-fixed-left label {
	margin-bottom: 0;
}

.bootstrap-switch-pull-right {
	float: right !important;
}

.navbar {
	min-height: 3em;
	margin-bottom: 0;
}

.navbar-form {
	margin: 0;
	border: 0;
}

	.navbar-form > button {
		position: absolute;
		margin-right: 5px;
	}

		.navbar-form > button.btn-right {
			right: 0;
			margin-left: 5px;
			margin-right: 1em;
		}

	.navbar-form .form-group {
		margin-bottom: 0;
		padding: 0 4em;
	}

.navbar-text {
	margin-top: 1em;
	margin-bottom: 1em;
}

.navmenu .btn-default:hover {
	background-position: 0;
}

.ui-front {
	z-index: 2000;
}
